{% extends 'base.html' %}
{% block title %}Certificates{% endblock %}

{% block content %}

<section class="certificates-section">

    <div class="cert-header">
        <h1>Certificates & Achievements</h1>
        <p>Professional certifications and learning milestones.</p>
    </div>

    <div class="cert-grid">

        

        <!-- Certificate 1-->
        <div class="cert-card">

            <img src="/static/images/cloud.png"
                 class="cert-image">

            <div class="cert-content">

                <span class="issuer">
                    United Latino Students Association
                </span>

                <h2>Cloud Application Developer</h2>

                <p class="issued">
                    Issued Oct 2025
                </p>

                <p class="credential">
                    ID: b3497867e7bd42fd900e7808ab50c67b
                </p>

                <a href="https://courses.ibmcep.cognitiveclass.ai/certificates/b3497867e7bd42fd900e7808ab50c67b" class="cert-btn">
                    <i class="fas fa-certificate"></i>
                    View Credential
                </a>

            </div>

        </div>
        <!-- Certificate 2 -->
        <div class="cert-card">

            <img src="/static/images/ai_fundamentals.png"
                 class="cert-image">

            <div class="cert-content">

                <span class="issuer">IBM</span>

                <h2>Artificial Intelligence Fundamentals</h2>

                <p class="issued">
                    Issued Oct 2025
                </p>

                <a href="https://www.credly.com/badges/d3f47b5c-8ec3-4475-bb49-97ec468acac5/linked_in_profile" class="cert-btn">
                    <i class="fas fa-certificate"></i>
                    View Credential
                </a>

            </div>

        </div>

        <!-- Certificate 3 -->
        <div class="cert-card">

            <img src="/static/images/delo.png"
                 class="cert-image">

            <div class="cert-content">

                <span class="issuer">Forage</span>

                <h2>Deloitte Australia - Data Analytics Job Simulation</h2>

                <p class="issued">
                    Issued Sep 2025
                </p>

                <p class="credential">
                    ID: fwJ64BX5bF7S26HaF
                </p>

                <a href="https://forage-uploads-prod.s3.amazonaws.com/completion-certificates/9PBTqmSxAf6zZTseP/io9DzWKe3PTsiS6GG_9PBTqmSxAf6zZTseP_68baeca770dcab97061016ef_1757087388221_completion_certificate.pdf" class="cert-btn">
                    <i class="fas fa-certificate"></i> 
                    View Credential
                </a>

            </div>

        </div>

        <!-- Certificate 4 -->
        <div class="cert-card">

            <img src="/static/images/clg.jpeg" class="cert-image">

            <div class="cert-content">

                <span class="issuer">
                    Rayat Bahra Professional University
                </span>

                <h2> Academic Achievement Certificate</h2>

                <p class="issued">
                    Issued March 2026
                </p>

                <a href="/static/images/clg.jpeg"
                target="_blank"
                class="cert-btn">

                    <i class="fas fa-certificate"></i>
                    View Credential

                </a>

            </div>

            

        </div>

    </div>

</section>

{% endblock %}