<footer class="footer">

    <div class="footer-container">

        <!-- About -->

        <div class="footer-section">

            <h2 class="footer-logo">
                Kushalta
            </h2>

            <p>
                Computer Science Engineering Student passionate
                about AI/ML, Full-Stack Development, Intelligent
                Systems, IoT, and building impactful technology
                solutions.
            </p>

        </div>

        <!-- Quick Links -->

        <div class="footer-section">

            <h3>Quick Links</h3>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Skills">Skills</a></li>
                <li><a href="/Projects">Projects</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>

        </div>

        <!-- Services -->

        <div class="footer-section">

            <h3>Services</h3>

            <ul>
                <li>Web Development</li>
                <li>Python Development</li>
                <li>Flask Applications</li>
                <li>AI/ML Solutions</li>
                <li>IoT Projects</li>
                <li>Automation Tools</li>
            </ul>

        </div>

        <!-- Social -->
        <div class="footer-section">

            <h3>Connect</h3>

            <ul class="footer-social-links">

                <li>
                    <a href="https://github.com/kushalta02" target="_blank">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/kushalta-16s02k29o/" target="_blank">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </li>

                <li>
                    <a href="mailto:kushalta162@gmail.com">
                        <i class="fas fa-envelope"></i> Email
                    </a>
                </li>

            </ul>

        </div>
    </div>
    <div class="footer-bottom" style="text-align: center;display: flex;">

        <p style="color:#94a3b8; margin:0; text-align:center;">
            © 2026 Kushalta. All Rights Reserved.
        </p>

    </div>


</footer>

